#status_container {
  display: flex;
  justify-content: space-between;
}
.status,
.status_loading,
.status_ready {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-align: center;
  border-style: solid;
  border-color: #fff;
  font-size: large;
  color: #fff;
  border-radius: 0;
  border-width: 1px;
  height: 33px;
  line-height: 33px;
  flex: 0.3;
}
.status_loading {
  background: #fff;
  color: #7474bf;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: 0;
  background: #c21500; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c21500, #ffc500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c21500, #ffc500);
  background: #a73737; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a73737, #7a2828); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a73737, #7a2828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f857a6, #ff5858); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f857a6, #ff5858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7, #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #e43a15; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e43a15, #e65245); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e43a15, #e65245); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474bf, #348ac7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474bf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main {
  align-self: center;
  background: 0 0;
}
#bibtex_text {
  resize: none;
  margin: 15px 0;
  font-size: medium;
  font-weight: semi-bold;
  font-family: 'Open Sans', sans-serif;
}
#input_container {
  display: flex;
  justify-content: space-between;
}
/*
#isbn_text
  font-size large*/
/*
#isbn_button:disabled
  button-disabled()
  //color grey

#isbn_button:enabled
  color color
  //border-color color;*/
form .field-error {
  color: #d13f19;
}
form .field-error input {
  color: #d13f19;
  border-color: #d13f19;
}
form .field-error input:focus {
  box-shadow: 0 0 5px rgba(209,63,25,0.7);
  border: 1px solid #b15239;
  outline: none;
}
#isbn_text {
  font-size: large;
}
#isbn_button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  flex: 0.3;
  border-style: solid;
  font-size: large;
  color: #fff;
  border-width: 1px;
  border-radius: 0;
  background: 0 0;
}
#isbn_button:disabled {
  border-color: #fff;
  color: #fff;
  cursor: not-allowed;
}
#isbn_button:enabled {
  box-shadow: 0 0 7px #fff;
  border-color: #fff;
  background: #fff;
  cursor: pointer;
  color: #7474bf;
}
#isbn_button:hover:enabled {
  background: 0 0;
  border-color: #fff;
  color: #fff;
}
#isbn_button:active {
  border-color: #6a9a1f;
  color: #6a9a1f;
}
#isbn_button:focus {
  outline: 0;
}
input[type=text],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 5px 0 5px 3px;
  border-width: 1px;
  border-style: solid;
  background: 0 0;
  color: #fff;
  border-color: #fff;
}
input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 7px #fff;
}
