doctype html
html(lang="en")
    head
        meta(name='description' content='BibSBN - ISBN to BibTeX converter')
        meta(name='google-site-verification' content='...')

        title BibSBN
        link(rel='stylesheet', href='/style/bibsbn.css')
        script(src='/js/lib/require.js' data-main='/js/main' defer)
    body
        div(id='main')
            h1 BibSBN - ISBN to BibTeX converter
            div(id='input_container')
                input(id='isbn_text'  type='text' size=17 maxlength=17 autofocus value='3625171570' class='text_incorrect')
                button(id='isbn_button' form='isbn_text' class='button_disabled' disabled) Search
            div
                textarea(id='bibtex_text', rows=15 cols= 75 wrap='hard')



